body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #808080;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}

#password-display {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
}
